<p id="notice"><%= notice %></p>

<h1>Listing Business Expenses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Recurring</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_expenses.each do |business_expense| %>
      <tr>
        <td><%= business_expense.user_id %></td>
        <td><%= business_expense.name %></td>
        <td><%= business_expense.description %></td>
        <td><%= business_expense.amount %></td>
        <td><%= business_expense.recurring %></td>
        <td><%= business_expense.duration %></td>
        <td><%= link_to 'Show', business_expense %></td>
        <td><%= link_to 'Edit', edit_business_expense_path(business_expense) %></td>
        <td><%= link_to 'Destroy', business_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business expense', new_business_expense_path %>
