  <div class="business-show-name"><%= @business_expense.name %></div>
  <br>

  <div class="business-show-description gd"><%= @business_expense.description %></div>


  <div class="business-show-amount gd">Amount: <%= number_to_currency(@business_expense.amount) %> </div>


  <div class="business-show-recurring gd">Recurring: <%= @business_expense.recurring %></div>

<div class="edit-back">
  <%= link_to 'Edit', edit_business_expense_path(@business_expense) %> |
  <%= link_to 'Back', business_expenses_path %>
</div>
