
<p>
  <strong>User:</strong>
  <%= @business_expense.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business_expense.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business_expense.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @business_expense.amount %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @business_expense.recurring %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @business_expense.duration %>
</p>

<%= link_to 'Edit', edit_business_expense_path(@business_expense) %> |
<%= link_to 'Back', business_expenses_path %>
