
<p id="notice"><%= notice %></p>
<%= image_tag asset_url('julie_placeholder.jpg'), class: "julie" %>

<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">User Information</a>
    <div class="tab-content">
      <div class="user-information">
      <p>
        <strong>Name:</strong>
        <%= @user.name.upcase %>
      </p>

      <p>
        <strong>E-mail:</strong>
        <%= @user.email %>
      </p>

      <p>
        <%= @user.time_zone %>
      </p>

      <p>
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
      </p>
      </div>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Projects</a>
    <div class="tab-content">
      <table class="user-projects">
        <thead>
          <tr>
            <th>Name of Piece</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
      <% @user.projects.first(5).each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.description %> </td>
            </tr>
            <%if project.sales.length > 0 %>
              <% project.sales.each do |sale| %>
                <tr>
                  <td>$<%= sale.gross %></td>
                  <td>Sold on: <%= sale.date %> </td>
                </tr>
              <% end %>
            <% else %>
                  <tr>
                    <td>Email for details</td>
                    <td>Avalible for purchase</td>
                  </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>
