
<p id="notice"><%= notice %></p>
<%= image_tag asset_url('julie_placeholder.jpg'), class: "julie" %>

<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">User Information</a>
    <div class="tab-content">
      <div class="user-information">
      <p>
        <strong>Name:</strong>
        <%= @user.name.upcase %>
      </p>

      <p>
        <strong>E-mail:</strong>
        <%= @user.email %>
      </p>

      <p>
        <%= @user.time_zone %>
      </p>

      <p class="edit-back">
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
      </p>
      </div>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Projects</a>
    <div class="tab-content">
      <table class="user-projects">
        <thead>
          <tr>
            <th>Projects I've worked on</th
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.description %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>
