<p id="notice"><%= notice %></p>
<%= image_tag asset_url('julie_placeholder.jpg'), class: "julie" %>
<div class="user-information">
<p>
  <strong>Name:</strong>
  <%= @user.name.upcase %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <%= @user.time_zone %>
</p>

<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</p>

</div>
<table class="user-projects">
  <thead>
    <tr>
      <th>Name of Piece</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
<% @user.projects.first(5).each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %> </td>
      </tr>
      <% project.sales.each do |sale| %>
        <tr>
          <td>$<%= sale.gross %></td>
          <td>Sold on: <%= sale.date %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="goals">
  <% @user.sales_goals.each do |goals| %>
    <div>
      <p>Goal of: <%= number_to_currency(goals.amount.round) %>
      for the next: <%= goals.length_of_time %></p>
    </div>
  <% end %>
</div>
