<div class="link-to-new-project-cost"><%= link_to 'New Project cost', new_project_cost_path %></div>
<h1>Listing Project Costs</h1>

<% @project_costs.each do |project_cost| %>
  <div class="project-cost-index-project-id"><%= project_cost.project_id %></div>
  <br />
  <div class="project-cost-index-cost-type"><%= project_cost.cost_type %></div>
  <div class="project-cost-index-amount"><%= number_to_currency(project_cost.amount) %></div>

  <div class="project-cost-index-edit">
    <%= link_to 'Show', project_cost %>
    <%= link_to 'Edit', edit_project_cost_path(project_cost) %>
    <%= link_to 'Destroy', project_cost, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <br />
  <hr />

<% end %>
