<div class="title">
  Unique Project Costs
  <%= form_tag project_costs_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil%>
  <% end %>
</div>
<% if @projects %>
  <% @projects.each do |project| %>
    <div class="cards">
      <div class="card">
        <div class="card-header">
          <h2>Costs for <%= project.name %>:</h2>
          <% if project.project_costs.length > 0 %>
            <% project.project_costs.each do |project_cost| %>
              <div class="details">
                <%= project_cost.cost_type %>
                <%= number_to_currency(project_cost.amount) %></br>
                <%= link_to 'Details', project_cost %>
                <%= link_to (image_tag asset_url('edit.png'), class: "index-icon"), edit_project_cost_path(project_cost) %>
                <%= link_to (image_tag asset_url('destroy.png'), class: "index-icon"), project_cost, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div></br>
            <% end %>
          <% else %>
          <div class="details">
            <p>There are no current projects costs.</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<% end %>
