<p id="notice"><%= notice %></p>

<h1>Listing Project Costs</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Cost type</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_costs.each do |project_cost| %>
      <tr>
        <td><%= project_cost.project_id %></td>
        <td><%= project_cost.cost_type %></td>
        <td><%= project_cost.amount %></td>
        <td><%= link_to 'Show', project_cost %></td>
        <td><%= link_to 'Edit', edit_project_cost_path(project_cost) %></td>
        <td><%= link_to 'Destroy', project_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project cost', new_project_cost_path %>
