<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, value: @project.user_id || @current_user.id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, value: @project.name || "" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, value: @project.description || "" %>
  </div>
  <div class="field">
    <%= f.label :_destroy %><br>
    <%= f.check_box :_destroy %>
  </div>
  <br>

  <div><h4> Materials: </h4></div>
  <div class="material-form">
    <%= f.fields_for :material_uses do |ff| %>
      <div class="material-fields">
        <div class="field">
          <%= ff.hidden_field :project_id, value: @project.id  %>
          <%= ff.hidden_field :user_id, value: @current_user.id  %>
        </div>
        <div class="field">
          <%= ff.label :material_purchase_id, value: "Material" %><br>
          <%= ff.collection_select(:material_purchase_id, @current_user.material_purchases.order(:name), :id, :name, {prompt: "Select Material"}) %>
        </div>
        <div class="field">
          <%= ff.label :units %><br>
          <%= ff.number_field :units %>

          <%= ff.check_box :_destroy %><%= ff.label :_destroy, "Remove from #{@project.name}" %><br>
        </div>
      </div>
    <% end %>
  </div>
  <button type="button" class="add-material-button ">Add Material</button>

  <div><h4> Project Costs: </h4></div>
  <div class="material-form">
    <%= f.fields_for :project_costs do |ff| %>
      <div class="field">
        <%= ff.label :cost_type %><br>
        <%= ff.text_field :cost_type %>
      </div>
      <div class="field">
        <%= ff.label :amount %><br>
        <%= ff.number_field :amount %>
        <%= ff.check_box :_destroy %><%= ff.label :_destroy, "Remove from #{@project.name}" %><br>
      </div>
      <hr />
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
