<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cards">
    <div class="card">
      <div class="card-header"></div>
      <div class="index-card">
        <div><h5> Details: </h4></div>
        <div class="field">
          <p><%= f.label :name %></br>
          <%= f.text_field :name, value: @project.name || "" %></p>
        </div>
        <div class="field">
          <p><%= f.label :description %></br>
          <%= f.text_area :description, value: @project.description || "" %></p>
        </div></br>

        <div><h4> Materials: </h4></div>
        <div class="material-form">
          <%= f.fields_for :material_uses do |ff| %>
            <div class = "material-fields">
              <div class="field">
                <%= ff.label :material_purchase_id, value: "Material" %><br>
                <%= ff.collection_select(:material_purchase_id, @current_user.material_purchases.order(:name), :id, :name, {prompt: "Select Material"}) %>
              </div>
              <div class="field">
                <%= ff.label :units %><br>
                <%= ff.number_field :units %>
              </div>
            </div>
          <% end %>
          <button type="button form-button" class="add-material-button">Add Material </button>
        </div>

        <div><h5> Project Costs: </h5></div>
        <div class="project-cost-form" id="project-cost-form">
          <%= f.fields_for :project_costs do |ff| %>
            <div class = "project-cost-fields">
              <div class="field">
                <%= ff.label :cost_type %></br>
                <%= ff.text_field :cost_type %>
              </div>
              <div class="field">
                <%= ff.label :amount %></br>
                <%= ff.number_field :amount %>
              </div>
            </div>
          <% end %>
          <button type="button form-button" class="add-project-button">Add Project Cost </button>
        </div>
        <div class="actions">
          <p><%= f.submit %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
