<div class="title">
My <% if params[:sold] %>Sold<% else %><% end %> Projects
<%= form_tag projects_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil%>
<% end %>
</div>
<h3><%= link_to 'Add New Project', new_project_path %> <% if !params[:sold] %><%= link_to 'See Sold Projects', projects_path(sold: true) %><% else %><%= link_to 'See All Projects', projects_path %><% end %> <%= link_to 'See Project Costs Breakdowns', project_costs_path %></h3>
<% if @projects %>
  <% @projects.each do |project| %>
  <div class="cards">
    <div class="card">
      <div class="card-header">
        <h2><%= link_to project.name, project %></h2>
        <div class="details">
          <p><%= link_to project.description, project %></p>
          <%= link_to (image_tag asset_url('edit.png'), class: "index-icon"), edit_project_path(project) %>
          <%= link_to (image_tag asset_url('sold.png'), class: "sold-icon"), new_sale_path(project_id: project.id) %>
          <%= link_to (image_tag asset_url('destroy.png'), class: "index-icon"), project, method: :delete, data: { confirm: 'Are you sure?' } unless project.sales.length > 0 %>
        </div>
      </div>
      <div class="index-card">
        <% if project.sales.length > 0 %>
          <% project.sales.each do |sale| %>
            <div class = "project-index-row">
              <div class="project-index-desc gd"> </div>
              <div class="project-index-gross gd">
                <p>Sold for: <%= number_to_currency(sale.gross) %></p>
              </div>
              <div class="project-index-saledate gd">
                <p><%= sale.date.strftime("%B %d, %Y") %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class"project-index-sales">
          <div class = "project-index-row">
            <div class="project-index-desc gd"> </div>
            <div class="project-index-gross gd"><p>In Stock</p></div>
            <div class="project-index-saledate gd"><p>Estimated Value: <br>
                <%= number_to_currency(project.estimated_value)%></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% else %>
<% end %>
