<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Clock In', clock_in_entries_path, method: :post, id: "clock-in" %> |
<%= link_to 'Clock Out', clock_out_entries_path, method: :patch, id: "clock-out" %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
