<div class="title"></div>
<div class="page-wrap">

  <div class="card">
    <div class="project-show-card">
      <div class="details">
        <h1><%= @project.name %></h1>
        <h3><%= @project.description %></h3>
      </div>
      <div class="details">
        <h6> Materials </h6>
        <% if @project.material_uses.length > 0 %>
          <% @project.material_uses.each do |material| %>
            <p><%= material.name %></br>
            Units: <%= material.units %></br>
            Cost: <%= number_to_currency(material.cost) %></p>
          <% end %>
        <% else %>
          <p>No materials are applied to this project.</p>
        <% end %>

        <h6>Project Costs</h6>
        <h3>Costs unique to your project (Shipping/Handling, Commission, Licensing, Etc.)</h3>
        <% if @project.project_costs.length > 0 %>
          <% @project.project_costs.each do |cost| %>
            <p><%= cost.cost_type %></br>
            Cost: <%= number_to_currency(cost.amount) %></p>
          <% end %>
        <% else %>
          <p>No costs are applied to this project.</p>
        <% end %>

      <div class="edit-back">
        <p><%= link_to (image_tag asset_url('sold.png'), class: "sold-icon"), new_sale_path(project_id: @project.id) %>
        <%= link_to (image_tag asset_url('edit.png'), class: "index-icon"), edit_project_path(@project) %>
        <%= link_to 'Back to All Projects', projects_path %></p>
      </div>
    </div>
    </div>
  </div>

  <div class="card">
    <div class="clock-card">
      <div class="card-header">
        <%= link_to 'Clock In', clock_in_time_entries_path(time_entry: {project_id: @project.id}), method: :post, id: "clock-in" %> |
        <%= link_to 'Clock Out', clock_out_time_entries_path(time_entry: {project_id: @project.id}), method: :patch, id: "clock-out" %>
        <div class="details">
          <p><% if @project_time > 0 %>
            You have worked on this project for
            <%= distance_of_time_in_words( @project_time, 0, except: :seconds) %>
            <p><%= link_to 'View Time Entries', time_entries_path(id: @project.id) %></p>
          <% else %>
              You have not worked on this project yet.
          <% end%>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
