<p>
  <strong>User:</strong>
  <%= @project.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Clock In', clock_in_time_entries_path(time_entry: {project_id: @project.id}), method: :post, id: "clock-in" %> |
<%= link_to 'Clock Out', clock_out_time_entries_path(time_entry: {project_id: @project.id}), method: :patch, id: "clock-out" %>

<p>
  <% if @project_time > 0 %>
    You have worked on this project for
    <%= distance_of_time_in_words( @project_time, 0, except: :seconds) %>

    <p>
      View your time entries for this project
      <%= link_to 'here', time_entries_path(id: @project.id) %>
    </p>
  <% else %>
    You have not worked on this project yet.
  <% end%>
</p>
