<div class="title"><%= @time_entry.project.name %></div>
<p>Start time: <%= @time_entry.start_time %></p>
<p>Stop time: <%= @time_entry.stop_time %></p>
<p><%= @time_entry.date %></p>

<div class="edit-back">
  <%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
  <%= link_to 'Back to Time Entries', time_entries_path %>
</div>
