<%= form_for(@sales_channel) do |f| %>
  <% if @sales_channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_channel.errors.count, "error") %> prohibited this sales_channel from being saved:</h2>

      <ul>
      <% @sales_channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :sale_id, value: @sales_channel.sale_id || "" %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, value: @sales_channel.name || "" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, value: @sales_channel.description || "" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
