<p id="notice"><%= notice %></p>

<h1>Listing Sales Channels</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_channels.each do |sales_channel| %>
      <tr>
        <td><%= sales_channel.sale_id %></td>
        <td><%= sales_channel.name %></td>
        <td><%= sales_channel.description %></td>
        <td><%= link_to 'Show', sales_channel %></td>
        <td><%= link_to 'Edit', edit_sales_channel_path(sales_channel) %></td>
        <td><%= link_to 'Destroy', sales_channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales channel', new_sales_channel_path %>
