<%= form_for(@material_purchase) do |f| %>
  <% if @material_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material_purchase.errors.count, "error") %> prohibited this material_purchase from being saved:</h2>

      <ul>
      <% @material_purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, value: @material_purchase.user_id || "" %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, value: @material_purchase.name || "" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, value: @material_purchase.description || "" %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost, :class => 'text_field', :step => 0.01, value: @material_purchase.cost || "" %>
  </div>
  <div class="field">
    <%= f.label :units %><br>
    <%= f.number_field :units, :class => 'text_field', :step => 'any', value: @material_purchase.units || "" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
