<div class="title">Editing <%= @material_purchase.name %></div>

<%= render 'form' %>

<div class="edit-back">
  <%= link_to (image_tag asset_url('destroy.png'), class: "index-icon"), material_purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back to Details', @material_purchase %> |
  <%= link_to 'Back to Materials Inventory', material_purchases_path %>
</div>
