<div class="title">
  My Materials Inventory
  <%= form_tag material_purchases_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil%>
  <% end %>
</div>
<h3><%= link_to 'Add a New Purchase', new_material_purchase_path %></h3>
<% if @material_purchases %>
  <% @material_purchases.each do |material_purchase| %>
  <div class="cards">
    <div class="card">
      <div class="card-header">
        <h2><%= material_purchase.name %></h2>
        <div class="details">
          <%= link_to 'Details', material_purchase %>
          <%= link_to (image_tag asset_url('edit.png'), class: "index-icon"), edit_material_purchase_path(material_purchase) %>
          <%= link_to (image_tag asset_url('destroy.png'), class: "index-icon"), material_purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <div class="index-card">
        <p>Cost: <%= number_to_currency(material_purchase.cost) %></br>
        Units: <%= material_purchase.units %></p>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
<% end %>
