<%= form_for(@sales_goal) do |f| %>
  <% if @sales_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_goal.errors.count, "error") %> prohibited this sales_goal from being saved:</h2>

      <ul>
      <% @sales_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <br />
  <div class="field">
    <%= f.label :start_time, 'Start date' %><br>
    <%= f.date_select :start_time %>
  </div>
  <br />
  <div class="field">
    <%= f.label :length_of_time, 'How long?'%><br>
    <%= number_field_tag :number %>
    <%= select_tag :units, options_for_select(["days", "weeks", "months", "years"]) %>
  </div>
  <div class="field">
    <%= f.label :sales_channel %><br>
    <%= select_tag :sales_channel, options_for_select(["","Web Store", "Personal Reference", "B&M Store", "The Van", "Down by the River", "Gallery", "Festival Booth"])%>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
