<%= form_for(@sales_goal) do |f| %>
  <% if @sales_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_goal.errors.count, "error") %> prohibited this sales_goal from being saved:</h2>

      <ul>
      <% @sales_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, value: @current_user.id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, value: @sales_goal.amount || "" %>
  </div>
  <div class="field">
    <%= f.label :length_of_time %><br>
    <%= f.text_field :length_of_time, value: @sales_goal.length_of_time || "" %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.date_select :start_time, value: @sales_goal.start_time || "" %>
  </div>
  <div class="field">
    <%= f.label :sales_channel %><br>
    <%= f.number_field :sales_channel%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
