<p id="notice"><%= notice %></p>

<h1>Listing Sales Goals</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Amount</th>
      <th>Length of time</th>
      <th>Start time</th>
      <th>Success</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_goals.each do |sales_goal| %>
      <tr>
        <td><%= sales_goal.user_id %></td>
        <td><%= sales_goal.amount %></td>
        <td><%= sales_goal.length_of_time %></td>
        <td><%= sales_goal.start_time %></td>
        <td><%= sales_goal.success %></td>
        <td><%= link_to 'Show', sales_goal %></td>
        <td><%= link_to 'Edit', edit_sales_goal_path(sales_goal) %></td>
        <td><%= link_to 'Destroy', sales_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales goal', new_sales_goal_path %>
