<div class="title"></div>
<div class="cards">
  <div class="card">
    <div class="card-header"></div>
    <div class="index-card">
      <p>Goal: <%= number_to_currency(@sales_goal.amount) %></p>
      <p><%= "Sales Channel: " + SalesChannel.find(@sales_goal.sales_channel_id).name if @sales_goal.sales_channel_id %></p>
      <p>Duration: <%= @sales_goal.length_of_time %></p>
      <p>Started: <%= @sales_goal.start_time.strftime("%B %d, %Y") %></p>
      <p><% if @sales_goal.success %>Achieved<% else %>Not Achieved<% end %></p>
      <div class="details">
        <p><%= link_to (image_tag asset_url('edit.png'), class: "index-icon"), edit_sales_goal_path(@sales_goal) %>
        <%= link_to (image_tag asset_url('destroy.png'), class: "index-icon"), @sales_goal, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Back to Sales Goals', sales_goals_path %></p>
      </div>
    </div>
  </div>
</div>
