
<div class="title">Goal: <%= number_to_currency(@sales_goal.amount) %></div>
<div class="goal-show-length">Duration: <%= @sales_goal.length_of_time %></div>
<div class="goal-show-start-time">Started: <%= @sales_goal.start_time %></div>
<div class="goal-show-success">Achieved: <%= @sales_goal.success %></div>

<div class="edit-back">
  <%= link_to 'Edit', edit_sales_goal_path(@sales_goal) %> |
  <%= link_to 'Back to Sales Goals', sales_goals_path %>
</div>
