<%= form_tag sales_path, method: :get do %>

  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search"%>
<% end %>
<% if @sales %>
  <div class="link-to-new-sale"><%= link_to 'New Sale', new_sale_path %></div>

  <h1>Listing Sales</h1>
  <% @sales.each do |sale| %>
    <div class="sales-index-name"><%= sale.project.name %></div>

    <div class"sales-index-sales">
      <div class="sales-index-gross gd"> Sold for: <%= number_to_currency(sale.gross) %></div>
      <div class="sales-index-date gd">  Sale date: <%= sale.date %></div>
      <br />
      <% if sale.sales_channel %>
        <div class="sale-index-channel gd"> Sold at: <%= sale.sales_channel.name %></div>
      <% else %>
        <div class="sale-index-available gd">Available for purchase</div>
      <% end %>
    </div>

    <div class="sales-index-edit">
      <%= link_to 'Show', sale %>
      <%= link_to 'Edit', edit_sale_path(sale) %>
      <%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <br>
    <hr />
  <% end %>
<% else %>
<p> Please enter something to search! </p>
<% end %>
