<%= form_tag sales_path, method: :get do %>
  <%= label_tag :search, "Search sales:" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search"%>
<% end %>
<% if @sales %>
  <h1>Listing Sales</h1>
  <% @sales.each do |sale| %>
  <div class="sales-index-name"><%= sale.project.name %></div>
    <div class"sales-index-sales">
      <div class="sales-index-gross gd"> Sold for: <%= number_to_currency(sale.gross) %></div>
      <div class="sales-index-date gd">  Sale date: <%= sale.date.strftime("%B %d, %Y") %></div>
      <br />
      <div class="sale-index-channel gd">
      <% if sale.sales_channel %>
        Sold at: <%= sale.sales_channel.name %>
      <% else %>
        Sales channel not specified, <%= link_to 'click to add', edit_sale_path(sale) %>
      <% end %>
      </div>
    </div>

  <div class="sales-index-edit">
    <%= link_to 'Show', sale %>
    <%= link_to 'Edit', edit_sale_path(sale) %>
    <%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <br>
  <hr />
  <% end %>
<% else %>
<p> Please enter something to search! </p>
<% end %>
