<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @sale.project_id %>
</p>

<p>
  <strong>Gross:</strong>
  <%= @sale.gross %>
</p>
<% if @sale.net %>
  <p>
    <strong>Net:</strong>
    <%= @sale.net %>
  </p>
<% end %>
<p>
  <strong>Date:</strong>
  <%= @sale.date %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
