<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% if logged_in? %>
          <li class="nav-link"><%= link_to 'ArtTrackd Home', root_path %></li>
          <li class="nav-link more"><%= link_to 'Projects', 'javascript:void(0)' %>
            <ul class="submenu">
              <li><%= link_to 'New Project', new_project_path %></li>
              <li><%= link_to 'All Projects', projects_path %></li>
              <li><%= link_to 'Sold Projects', projects_path(sold: true) %></li>
            </ul>
          </li>
          <li class="nav-link more"><%= link_to 'Sales', 'javascript:void(0)' %>
            <ul class="submenu">
              <li><%= link_to 'View All Sales', sales_path %></li>
              <li><%= link_to 'Material Purchases', material_purchases_path %></li>
              <li><%= link_to 'Sales Channels', sales_channels_path %></li>
            </ul>
          </li>
          <li class="nav-link more"><%= link_to 'Costs', 'javascript:void(0)' %>
            <ul class="submenu">
              <li><%= link_to 'Business Costs', business_expenses_path %></li>
              <li><%= link_to 'Material Purchases', material_purchases_path %></li>
            </ul>
          </li>
          <li class="nav-link more"><%= link_to 'Goals', 'javascript:void(0)' %>
            <ul class="submenu">
              <li><%= link_to 'New Sales Goals', new_sales_goal_path %></li>
              <li><%= link_to 'All Sales Goals', sales_goals_path %></li>
              <li><%= link_to 'Goals Progress', 'javascript:void(0)' %></li>
            </ul>
          </li>
          <li class="nav-link"><%= link_to 'Profile', user_path(id: session[:user_id]) %></li>
          <li class="nav-link"><%= link_to 'Log Out', logout_path, method: :delete %></li>
        <% else %>
          <li class="nav-link"><%= link_to 'ArtTrackd', root_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
