<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% if logged_in? %>
          <li class="nav-link"><%= link_to 'ArtTrack Home', root_path %></li>
          <% if clocked_in? %>
            <li class = "nav-link stopwatch-text">I have been working on <%= truncate(@current_time_entry.project.name) %> for
            <span class="stopwatch" id="timer" start-time="<%=@current_time_entry.start_time.to_f * 1000 %>"></span></li>
            <li class="nav-link"><%= link_to 'Clock Out', clock_out_time_entries_path(time_entry: {project_id: @current_time_entry.project_id}), method: :patch, id: "clock-out-nav" %></li>
          <% end %>
          <li class="nav-go-right"><%= link_to 'Log Out', logout_path, method: :delete %></li>
        <% else %>
          <li class="nav-link"><%= link_to 'ArtTrack', root_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
