<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to(image_tag("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"), root_path, class: "logo")%>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'Your Projects', projects_path %></li>
        <li class="nav-link"><%= link_to 'Your Goals', sales_goals_path %></li>
        <li class="nav-link"><%= link_to 'Your Sales', sales_path %></li>
      </ul>
    </nav>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'Profile', user_path(id: session[:user_id]) %></li>
        <li class="nav-link"><%= link_to 'Log Out', logout_path, method: :delete %></li>
      </ul>
  </div>
</header>
