<div class="sidebar-column">
  <div class="page-wrap profile-img-padding">
    <%= image_tag asset_url('track.png'), class: "profile-image", alt: "Profile Picture" %>
  </div>
  <div class="sidebar-center"><%= link_to @current_user.name, profile_path %></div>
  <div class="highlight-left-border">
    <div class="sidebar-link"><%= link_to 'Dashboard', root_path %></div>
  </div>
  <div class="highlight-left-border">
    <div class="sidebar-link"><%= link_to 'My Goals', sales_goals_path %></div>
  </div>
  <div class="highlight-left-border">
    <div class="sidebar-link"><%= link_to 'My Sales', sales_path %></div>
  </div>
  <div class="highlight-left-border sidebar-link">
    <%= link_to 'My Projects', projects_path %>
  </div>
</div>
