<!DOCTYPE html>
<html>
  <head>
    <title>Arttrackd</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>
      <% if flash[:warning] %>
        <div class="warning"><%= flash[:warning] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="success"><%= flash[:success] %></div>
      <% end %>
      <div class="page-wrap">
        <%= render 'layouts/navbar' %>
        <%= link_to "Log out", logout_path, method: :delete %>
        <%= yield %>

      </div>
      <footer class="site-footer">
        Awesome footer here!
      </footer>
  </div>

  </body>
</html>
